@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-image: url('../../public/bg-img.jpeg');
    background-size: cover;
    background-position: center;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55); /* Dark overlay */
    z-index: 1;
}

.heading h1{
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4.5rem; /* Adjust as needed */
    text-align: center;
    z-index: 2; /* Ensures it appears above the overlay */

}

.mid-container {
    position: absolute;
    top: 18%;
    left: 10%;
    height: 70%;
    width: 80%;
    border-radius: 30px;
    z-index: 2; /* Ensure it is below the content inside */
    overflow: hidden; /* Prevent ::before from spilling out */
}

.mid-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(185 184 184 / 55%);
    z-index: -1; /* Set lower z-index to prevent blocking */
    border-radius: 30px;
}

.left-right{
    position: relative;
    height: 100%;
    width: 100%;
}

.right {
    position: absolute;
    top: 13%;
    left: 55%;
    height: 75%;
    width: 40%;
    z-index: 2; 
    border-radius: 30px;
}

.upload-button {
    background-color: #6E5C4F;
    color: white;
    padding: 10px 20px;
    border-radius: 0px 0px 30px 30px;
    font-size: 2.5rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 86.5%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-align: center;
}

.upload-button:hover {
    background-color: #583F3C; 
}

.image{
    border-radius: 30px;
    height: 100%;
    background-image: url(../../public/waste-img2.JPG);
    background-size: cover;
}

.left {
    position: absolute;
    top: 14%;
    left: 5%;
    /* border: 1px solid black; */
    height: 75%;
    width: 40%;
    z-index: 2;  
    border-radius: 30px;   
    background-color: rgba(255, 255, 255, 0.8);
}

.left h2{
    position: relative;
    font-size: 2.5rem;
    left: 15%;
}

.category {
    color: #ff0000; 
    font-weight: bold;
    transition: color 0.3s ease;
}

.slider {
    position: relative;
    top: 0px;
    width: 100%;
    height: 86%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 30px 30px 0px 0px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 1440px) {
    .heading h1 {
        font-size: 4rem;
        width: 100%;
    }

    .right {
        position: absolute;
        top: 19%;
        left: 55%;
        height: 70%;
        width: 40%;
        z-index: 2;
        border-radius: 30px;
    }

    .left {
        position: absolute;
        top: 19%;
        left: 7%;
        height: 70%;
        width: 40%;
        z-index: 2;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .left h2{
        position: relative;
        font-size: 2rem;
        left: 8%;
    }

    .slider {
        /* border: 1px solid black; */
        position: relative;
        top: 0px;
        width: 100%;
        height: 86%;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 30px 30px 0px 0px;
    }

    .upload-button{
        padding: 9px 20px;
        font-size: 2rem;
    }
}